In [1]:
import pandas as pd
import numpy as np
from env import conn
import matplotlib as plt
%matplotlib inline

In [2]:
cs = conn.cursor()

In [3]:
cs.execute("SELECT * FROM PROD.BINK.FACT_USER")

In [4]:
query_result = cs.fetchall()

In [5]:
column_names = [col[0] for col in cs.description]

In [6]:
cs.close()

True

In [7]:
df = pd.DataFrame(query_result, columns=column_names)

In [8]:
df.head()

,EVENT_ID,EVENT_DATE_TIME,USER_ID,EVENT_TYPE,IS_MOST_RECENT,ORIGIN,CHANNEL,BRAND,INSERTED_DATE_TIME,UPDATED_DATE_TIME
0,15399805,2023-11-23 09:37:54.217304,2027565,CREATED,None,channel,LLOYDS,LLOYDS,2023-11-23 12:14:27.107,2023-11-23 12:14:27.107
1,15400417,2023-11-23 09:53:12.386484,2027598,CREATED,None,channel,LLOYDS,LLOYDS,2023-11-23 12:14:27.107,2023-11-23 12:14:27.107
2,15398955,2023-11-23 09:15:35.815558,2027511,CREATED,None,channel,LLOYDS,HALIFAX,2023-11-23 12:14:27.107,2023-11-23 12:14:27.107
3,15394366,2023-11-23 06:44:11.788590,2027261,CREATED,None,channel,LLOYDS,HALIFAX,2023-11-23 12:14:27.107,2023-11-23 12:14:27.107
4,15401307,2023-11-23 10:05:58.037933,2027620,CREATED,None,channel,LLOYDS,LLOYDS,2023-11-23 12:14:27.107,2023-11-23 12:14:27.107