In [1]:
import pandas as pd
import psycopg2 as pg
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError
from datetime import datetime, timedelta
import sys
sys.path.append('../../../')
from env import pg_conn

In [62]:
# today = datetime.strptime('05/02/24 00:00:00', '%d/%m/%y %H:%M:%S')  #use this for backdating
today = datetime.today() #use this for regular run
day = today.weekday()
print(day)
file_date = today.strftime('%Y%m%d')
print(f"File date: {file_date}")

0
File date: 20240226

In [63]:
file_end = today.date()
file_start = file_end - timedelta(days=7)

# # manual overwrites below
# file_end = '2024-01-25'
file_start = '2024-01-25' 

print(f"File Dates: {file_start} - {file_end}")
print(type(file_start))

File Dates: 2024-01-25 - 2024-02-26
<class 'str'>

In [64]:
def read_query(database, query):
    engine = create_engine(pg_conn+str(database))
    conn = engine.connect()
    transaction = conn.begin()
    try:
        # perform some database operations here
        df = pd.read_sql(query, conn)
        transaction.commit()
        with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also    
            print(df)
        return df
    except SQLAlchemyError as e:
        transaction.rollback()
        print(f"Error occurred: {e}")
    finally:
        conn.close()

### Getting all matched transactions from matched_transaction table
matched_transactions for viator over selected period

In [68]:
harmonia_matched_query = f"""SELECT to_Char(spend_amount/100, 'FM9999999990.00') AMOUNT , transaction_date TRANSACTION_DATE, auth_code::varchar(8) AUTH, mid MID, last_four::varchar(4) LAST_FOUR FROM export_transaction pt
                        where provider_slug = 'bpl-viator' and created_at >= '{file_start}' and created_at < '{file_end}';"""
harmonia_matched = read_query("harmonia", harmonia_matched_query)
harmonia_matched

      amount    transaction_date    auth        mid last_four
0     122.00 2024-01-31 05:03:32  031432  020442950      9838
1       1.00 2024-01-25 05:25:07  025983  020150514      1515
2       1.00 2024-01-25 14:50:19  025494  020150514      6841
3      -1.00 2024-01-25 14:50:23  025494  020150514      6841
4      60.00 2024-01-25 17:10:19  025224  020150514      1663
5      72.00 2024-01-26 08:43:04  026069  020150514      1471
6     170.00 2024-01-26 15:06:09  026900  020150514      4938
7       1.00 2024-01-26 18:33:26  026649  020150514      3176
8      95.00 2024-01-26 23:22:44  026097  020150514      8388
9      -1.00 2024-01-28 09:37:31  029746  020150514      8638
10      1.00 2024-01-28 09:37:30  029746  020150514      8638
11    158.00 2024-02-02 10:03:55  002770  020150514      8435
12     -1.00 2024-02-02 13:49:21  002346  020150514      2011
13      1.00 2024-02-02 13:49:20  002346  020150514      2011
14     -1.00 2024-02-02 15:36:10  002303  020150514      0216
15      1.00 2024-02-02 15:36:09  002303  020150514      0216
16     -1.00 2024-02-02 16:47:38  002304  020150514      0216
17      1.00 2024-02-02 16:47:37  002304  020150514      0216
18   -139.00 2024-02-03 13:24:01          020150514      8435
19     70.00 2024-02-10 10:42:07  012502  020150514      5117
20     53.00 2024-02-15 00:39:16  015207  020150514      7188
21     45.00 2024-02-15 01:51:22  015208  020150514      7188
22      1.00 2024-02-16 09:00:28  016319  020150514      0216
23    561.00 2024-02-19 05:01:16  019700  020150514      1350
24     -1.00 2024-02-19 18:25:41  019124  020150514      5762
25      1.00 2024-02-19 18:25:39  019124  020150514      5762
26     -1.00 2024-02-19 20:58:01  019028  020150514      2424
27      1.00 2024-02-19 20:57:59  019028  020150514      2424
28     -1.00 2024-02-19 21:19:00  019029  020150514      2424
29      1.00 2024-02-19 21:18:59  019029  020150514      2424
30     74.00 2024-02-21 03:54:43  021171  020150514      5018
31     64.00 2024-02-23 23:21:17  023704  020150514      8458
32     46.00 2024-02-25 16:08:22  026133  020150514      7427
33     -1.00 2024-02-25 20:32:20  026347  020150514      2311
34     66.00 2024-01-29 12:15:33  029855  020150514      4214
35     56.00 2024-01-29 19:52:40  029997  020150514      1515
36    159.00 2024-01-29 20:24:02  029580  020442950      0353
37     25.00 2024-01-31 05:24:32  031268  020150514      9262
38    221.00 2024-01-31 07:43:36  031300  020150514      2311
39     12.00 2024-01-31 17:34:25  031137  020150514      5018
40     21.00 2024-01-28 12:34:05  029712  020150514      6918
41     -1.00 2024-01-28 16:12:53  029882  020150514      9468
42     13.00 2024-01-28 13:54:00  029674  020150514      2921
43      1.00 2024-01-28 16:12:51  029882  020150514      9468
44    163.00 2024-02-01 09:32:22  001302  020150514      2311
45     53.00 2024-02-01 09:43:24  001524  020150514      6841
46     79.00 2024-02-03 10:58:58  005753  020150514      8638
47     67.00 2024-02-04 06:32:42  005669  020150514      3176
48    103.00 2024-02-04 13:09:50  005307  020150514      2311
49     35.00 2024-02-06 21:40:30  006410  020150514      3661
50   -177.00 2024-02-06 13:16:02          020150514      2879
51     86.00 2024-02-09 11:06:31  009501  020150514      5117
52    313.00 2024-02-13 09:06:04  013263  020150514      6972
53    -91.00 2024-02-13 22:44:14  013033  020150514      8010
54     91.00 2024-02-13 22:40:53  013033  020150514      8010
55     91.00 2024-02-13 22:50:06  013012  020150514      1726
56     61.00 2024-02-13 22:57:04  013013  020150514      1726
57     39.00 2024-02-14 18:52:12  014436  020150514      1839
58     78.00 2024-02-15 18:54:44  015864  020150514      0149
59    100.00 2024-02-15 21:33:40  015477  020150514      5714
60     -1.00 2024-02-21 13:50:54  021966  020150514      1635
61      1.00 2024-02-21 13:50:52  021966  020150514      1635
62    139.00 2024-02-21 20:07:04  021332  020150514      0216
63     -1.00 2024-02-22 20:00:25  022725  020150514      2428
64      1.00 2024-02-22 20:00:24  022725  020150514      2428
65      1.00 2024-02-22 20:04:50  022726  020150514      2428
66     -1.00 2024-02-22 20:04:51  022726  020150514      2428
67     -1.00 2024-02-22 20:08:41  022727  020150514      2428
68     -1.00 2024-02-22 20:13:27  022728  020150514      2428
69      1.00 2024-02-22 20:08:39  022727  020150514      2428
70      1.00 2024-02-22 20:13:25  022728  020150514      2428
71      1.00 2024-02-23 10:50:58  023327  020150514      5085
72    -95.00 2024-02-23 13:15:57          020150514      8388
73     -1.00 2024-02-24 18:46:40  026793  020150514      6965
74      1.00 2024-02-24 18:46:38  026793  020150514      6965
75     -1.00 2024-02-24 19:05:43  026794  020150514      6965
76      1.00 2024-02-24 19:05:42  026794  020150514      6965
77    235.00 2024-02-25 00:28:58  026520  020150514      3369
78     78.00 2024-02-25 16:10:18  026134  020150514      7427
79      1.00 2024-02-25 20:32:19  026347  020150514      2311
80    169.00 2024-02-25 20:36:09  026348  020150514      2311
81    156.00 2024-02-25 20:45:30  026350  020150514      2311
82    137.00 2024-02-25 21:05:52  026351  020150514      2311
83    327.00 2024-02-25 21:35:15  026352  020150514      2311
84    383.00 2024-01-30 16:52:01  030292  020150514      0216
85     -1.00 2024-01-25 05:25:08  025983  020150514      1515
86     52.00 2024-01-26 06:47:25  026707  020150514      6918
87     -1.00 2024-01-26 18:33:27  026649  020150514      3176
88     -1.00 2024-01-27 22:44:22  029745  020150514      8638
89      5.00 2024-01-27 18:03:44  029452  020150514      0910
90    139.00 2024-01-27 19:22:34  029746  020150514      8435
91      1.00 2024-01-27 22:44:20  029745  020150514      8638
92    117.00 2024-02-01 08:59:17  001523  020150514      6841
93     -1.00 2024-02-02 19:55:48  002306  020150514      0216
94      1.00 2024-02-02 19:55:47  002306  020150514      0216
95     51.00 2024-02-03 02:36:25  005129  020150514      4413
96     59.00 2024-02-03 11:11:58  005754  020150514      8638
97     -1.00 2024-02-03 14:11:50  005490  020150514      5117
98      1.00 2024-02-03 14:11:48  005490  020150514      5117
99    -53.00 2024-02-02 13:16:53          020150514      6841
100    -1.00 2024-02-05 12:29:33  005130  020150514      5130
101    -1.00 2024-02-05 12:35:21  005798  020150514      0249
102     1.00 2024-02-05 12:29:31  005130  020150514      5130
103   138.00 2024-02-05 12:31:48  005863  020150514      4214
104     1.00 2024-02-05 12:35:19  005798  020150514      0249
105   352.00 2024-02-05 21:48:44  005215  020150514      7315
106     1.00 2024-02-08 18:46:27  008767  020150514      6439
107     1.00 2024-02-08 19:37:17  008254  020150514      6972
108    -1.00 2024-02-08 18:46:28  008767  020150514      6439
109    -1.00 2024-02-08 19:37:20  008254  020150514      6972
110    45.00 2024-02-08 20:23:04  008111  020150514      5110
111    26.00 2024-02-08 20:26:46  008112  020150514      5110
112   133.00 2024-02-09 03:04:31  009149  020150514      5018
113    -1.00 2024-02-10 00:38:24  012151  020150514      5018
114     1.00 2024-02-10 00:38:22  012151  020150514      5018
115   222.00 2024-02-10 10:27:54  012153  020150514      5018
116   -66.00 2024-02-09 13:14:47          020150514      8638
117   108.00 2024-02-11 05:04:18  012660  020150514      1654
118   157.00 2024-02-11 08:31:24  012661  020150514      1654
119    -1.00 2024-02-11 18:24:18  012065  020150514      4949
120    -1.00 2024-02-11 18:32:06  012066  020150514      4949
121     1.00 2024-02-11 18:24:17  012065  020150514      4949
122     1.00 2024-02-11 18:32:05  012066  020150514      4949
123   -25.00 2024-02-12 13:13:33          020150514      9262
124    46.00 2024-02-14 15:30:46  014435  020150514      1839
125    -1.00 2024-02-15 14:10:29  015770  020150514      8638
126     1.00 2024-02-15 14:10:28  015770  020150514      8638
127     1.00 2024-02-15 15:08:21  015120  020150514      5762
128    -1.00 2024-02-15 15:08:23  015120  020150514      5762
129    -1.00 2024-02-16 09:00:29  016319  020150514      0216
130   367.00 2024-02-16 14:03:31  016320  020150514      0216
131   624.00 2024-02-17 18:01:49  019694  020150514      1350
132    -1.00 2024-02-23 10:50:59  023327  020150514      5085

     amount    transaction_date    auth        mid last_four
0    122.00 2024-01-31 05:03:32  031432  020442950      9838
1      1.00 2024-01-25 05:25:07  025983  020150514      1515
2      1.00 2024-01-25 14:50:19  025494  020150514      6841
3     -1.00 2024-01-25 14:50:23  025494  020150514      6841
4     60.00 2024-01-25 17:10:19  025224  020150514      1663
..      ...                 ...     ...        ...       ...
128   -1.00 2024-02-15 15:08:23  015120  020150514      5762
129   -1.00 2024-02-16 09:00:29  016319  020150514      0216
130  367.00 2024-02-16 14:03:31  016320  020150514      0216
131  624.00 2024-02-17 18:01:49  019694  020150514      1350
132   -1.00 2024-02-23 10:50:59  023327  020150514      5085

[133 rows x 5 columns]

### Sort data type final file for output

In [69]:
final_file = harmonia_matched.astype({'amount': 'str', 'transaction_date': 'datetime64[ns]', 'auth': 'str', 'mid': 'str', 'last_four': 'str'})
final_file

     amount    transaction_date    auth        mid last_four
0    122.00 2024-01-31 05:03:32  031432  020442950      9838
1      1.00 2024-01-25 05:25:07  025983  020150514      1515
2      1.00 2024-01-25 14:50:19  025494  020150514      6841
3     -1.00 2024-01-25 14:50:23  025494  020150514      6841
4     60.00 2024-01-25 17:10:19  025224  020150514      1663
..      ...                 ...     ...        ...       ...
128   -1.00 2024-02-15 15:08:23  015120  020150514      5762
129   -1.00 2024-02-16 09:00:29  016319  020150514      0216
130  367.00 2024-02-16 14:03:31  016320  020150514      0216
131  624.00 2024-02-17 18:01:49  019694  020150514      1350
132   -1.00 2024-02-23 10:50:59  023327  020150514      5085

[133 rows x 5 columns]

### Generate final file for output

fill in todays date for the file delivery
file dumped in repo make sure to remove before committing code back into repo

In [70]:
#LOOOK AT DATA TYPES!!!!!!!
harmonia_matched.to_csv(f'~/python/snowdrops/data/viator_weekly_files/viator_weekly_transactions_{file_date}.csv',index=False)

In [ ]:
from azure.storage.fileshare import ShareFileClient, ShareDirectoryClient, ShareClient
from env import connection_string



#Create connection to export fileshare
print('Creating connections to azure storage...')
connection_string = connection_string
viator_dir = ShareDirectoryClient.from_connection_string(conn_str=connection_string, share_name="stored", directory_path=dir_name)


#Check if test results have passed and then upload files
print('Checking test results and uploading files...')
file = f'~/python/snowdrops/data/viator_weekly_files/viator_weekly_transactions_{file_date}.csv'
with open(file, "rb") as outfile: 
    viator_dir.upload_file(file, outfile)
    print(f'{file} succesfully uploaded to blob')