In [1]:
import pandas as pd
import numpy as np
from env import conn
import matplotlib as plt
%matplotlib inline
cs = conn.cursor()

In [2]:
cs = conn.cursor()

In [3]:
cs.execute("SELECT * FROM PROD.BINK.FACT_USER")

In [4]:
query_result = cs.fetchall()

In [5]:
column_names = [col[0] for col in cs.description]

In [6]:
cs.close()

True

In [7]:
df = pd.DataFrame(query_result, columns=column_names)

In [8]:
df.head()

,EVENT_ID,EVENT_DATE_TIME,USER_ID,EVENT_TYPE,IS_MOST_RECENT,ORIGIN,CHANNEL,BRAND,INSERTED_DATE_TIME,UPDATED_DATE_TIME
0,15399805,2023-11-23 09:37:54.217304,2027565,CREATED,None,channel,LLOYDS,LLOYDS,2023-11-23 12:14:27.107,2023-11-23 12:14:27.107
1,15400417,2023-11-23 09:53:12.386484,2027598,CREATED,None,channel,LLOYDS,LLOYDS,2023-11-23 12:14:27.107,2023-11-23 12:14:27.107
2,15398955,2023-11-23 09:15:35.815558,2027511,CREATED,None,channel,LLOYDS,HALIFAX,2023-11-23 12:14:27.107,2023-11-23 12:14:27.107
3,15394366,2023-11-23 06:44:11.788590,2027261,CREATED,None,channel,LLOYDS,HALIFAX,2023-11-23 12:14:27.107,2023-11-23 12:14:27.107
4,15401307,2023-11-23 10:05:58.037933,2027620,CREATED,None,channel,LLOYDS,LLOYDS,2023-11-23 12:14:27.107,2023-11-23 12:14:27.107

In [9]:
df.describe()

,EVENT_ID,EVENT_DATE_TIME,INSERTED_DATE_TIME,UPDATED_DATE_TIME
count,1.497419e+06,1497419,1497419,1497419
mean,6.890355e+06,2023-05-02 05:56:32.608262144,2023-11-20 15:05:02.910039296,2023-11-20 15:05:06.636240896
min,2.000000e+00,2022-04-30 21:09:22.592968,2023-11-20 14:49:41.640000,2023-11-20 14:49:41.640000
25%,2.863632e+06,2023-03-02 10:55:44.294396928,2023-11-20 14:49:41.640000,2023-11-20 14:49:41.640000
50%,6.728612e+06,2023-05-21 10:26:27.178364928,2023-11-20 14:49:41.640000,2023-11-20 14:49:41.640000
75%,1.079456e+07,2023-08-17 12:44:34.322729984,2023-11-20 14:49:41.640000,2023-11-20 14:49:41.640000
max,1.542200e+07,2023-11-23 11:59:45.168715,2023-11-23 12:14:27.107000,2023-11-23 12:14:27.107000
std,4.460030e+06,NaN,NaN,NaN